body, html {
    font: 14px "Century Gothic", Futura, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(85, 85, 223) 0%, skyblue 100%);
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgba(238, 238, 238, 0.726);
    border: 1px solid #999;
    float: left;
    font-size: 3em;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .game > div{
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .destaque{
    background: linear-gradient(to right, gold 0%, #fabc3c 100%);
  }
  .history{
    width: 150px;
  }
  
  .actuality{
    font-weight: bold;
    padding: 1px 10px;
    width: 155px;
    background-color: rgb(214, 210, 210);
  }
   
  .status{
    font-size: 1.7em;
    padding: 3px;
    background-color: skyblue;
    font-weight: bold;
    margin-bottom: 50px;
    border: solid 2px black;
  }

  .status-draw{
    background-color: yellow;
  }
  .status-win{
    background-color: rgb(25, 233, 25);
  }
  @media(max-width: 600px){
    .game > div{
    flex-direction: column;
    }
  }
  